@media (max-width: 1024px) {

    header .header__container{
        display: flex;
        flex-direction: column-reverse;
    }
    header .header__container .header__right{
        width: 60%;
        margin-bottom: 0;
    }
    header .header__container .header__left{
        text-align: center;
    }

    .categories{
        height: 50vh;
        margin-bottom: 5rem
    }
    .categories .categories__container{
        display: flex;
        flex-direction: column;
    }
    .categories .categories__container .categories__right{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
    }

    .servers h2:first-child{
        position: relative;
        margin-top: 17rem;
    }
    .servers .servers__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    header .header__container .header__right{
        width: 80%;
    }

    .categories .categories__container .categories__right{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
    }

    .servers h2:first-child{
        position: relative;
        margin-top: 40rem;
    }
    .servers .servers__container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .faqs .faqs__container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .testimonials .testimonials__container .swiper-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    footer .footer__container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* ================= PARTNERS ============== */

    .our-partners .our-partners__container{
        gap: 2rem;
        grid-template-columns: 1fr;
    }


}